<div class="main user-show">
  <div class="container">

    <div class="user">
      <div class="user-info">
        <img class="user-icon" src="<%= "/user_images/#{@user.image_name}" %>">
        <h2><%= @user.name %></h2>
        <p><%= @user.email %></p>
        <div class="user-selfIntroduction">
        <p><%= @user.text %></p>
       </div>
        <% if @user.id == @current_user.id %>
        <%= link_to("/users/#{@user.id}/edit") do %>
        <span class="fas fa-user-edit"><br><p>Edit Profile</P></span>
         <% end %>
        <% end %>
       

        

      </div>


     <div class="user-post-index-heading"><h3>Past Activities</h3></div>

      <% @user.posts.each do |post| %>
    
      <div class="posts-index-item">
        <div class="post-left">
          <img class="user-icon" src="<%= "/user_images/#{post.user.image_name}" %>">
          <div class="post-user-name">
            <%= link_to(post.user.name, "/users/#{post.user.id}") %>
          </div>
        </div>
        <br>
        <div class="post-right">
          
         <p class="post-content"><%= link_to(post.content, "/posts/#{post.id}") %></p>
        </div>
        <div class="clear"></div>
      </div>
      
     <% end %>


    </div>

  </div>
</div>