


<div class="container">


<div class="top">
  <div class="bg-opacity">
    <div class="top-logo">
      <i class="fas fa-handshake"></i>
      <h1>Studdy Buddy</h1>
      <p>Studdy Buddyとは、<br>"在宅留学"を可能にするオンライン語学学習コミュニティです。<p>
    </div>






   <div class="btns">

   <% if user_signed_in? %>

   
   <div class="btn to-mypage">
   <%= link_to new_post_path do%>
   <h3>Post<span class="fas fa-comments"></span></h3>
   <%end%>
   </div>
   


   <div class="btn to-mypage">
      <%= link_to profile_path(current_user.id) do %>
      <h3>My Page</h3>
      <% end %>
   </div>
   


     
    <% else %>

      
      <div class="btn signup">
      <%= link_to new_user_registration_path do%>
        Sign up <span class="fas fa-user-plus"></span>
        <% end%>
      </div>

     
      <div class="btn login">
      <%= link_to new_user_session_path do%>
       Sign in <span class="fas fa-sign-in-alt"></span>
       <% end %>
      </div>

      
      <div class="btn to-about">
      <%= link_to("/home/about") do%>
      初めてのかたはこちら <span class="fas fa-sign-in-alt"></span>
      <% end %>
      </div>
  

   <% end %>
   </div>





  </div>
</div>








   <div class="heading"> 
      <p>〜活動のようす〜</p>
      <h1>Our Activities</h1>
   </div>


<div class="posts">
   <% @posts.each do |post| %>
   <div class="post">
   
    


      <div class="post-user">
        <% if post.user.image.attached? %>
          <div class="icon">
          <%= link_to profile_path(post.user.id) do%>
          <%= image_tag post.user.image %>
          <% end %>
          </div>
         <% else %>
         <div class="icon">
         <%= link_to profile_path(post.user.id) do%>
         <%= image_tag "nouser.jpg"%>
         <% end %>
        </div>
        <% end %>

        <div class="post-user-name">
        <%= link_to profile_path(post.id) do%>
          <h3><%= post.user.name %></h3>
          <% end %>
        </div>
         
      </div>

    

       <% if post.images.attached? %>
         <div class="post-image">
         <%= link_to post_path(post.id) do %>
           <% post.images.each do |image| %>
            <%= image_tag image%>
           <% end %>
        <% end %>
         </div>
       <%end%>
       
     

      <div class ="post-below">
        <%= link_to post_path(post.id) do %>
          <div class="post-time">
            <p><%= post.created_at %></p>
          </div>
          <div class="post-text">
            <p><%= post.content %></p>
          </div>
          <% end %>
      </div>
 
      <div class="to-posts-show">
        <%= link_to post_path(post.id) do%>
          See more & Comment 
        <% end%>
      </div>    

   

    </div> 
    <% end %>
 </div>


 <div class ="heading">
   <h1>Meet Our Buddies</h1>
 </div>
 
 <div class="buddies">
      <ul class="buddy-list">
      <% @profiles.each do |profile| %>
        <li class="buddy-list-item">
          <%= link_to profile_path(profile.id) do %>
            <%= image_tag profile.image, class:"buddy-icon" if profile.image.attached?%>
            <h4 class="buddy-name"><%= profile.name %></h4>
            <h4 class="buddy-name">(<%= profile.nationallity %>)</h4>
          <% end %>
        </li>
      <% end%>
      </ul>       
  </div>
 




</div>
