<div class="main">
  <div class="container">

  <div class="posts-index-item">

     <div class="post-left">
      <img class="user-icon" src="<%= "/user_images/#{@user.image_name}" %>" >
       <div class="user-name">
         <%= link_to(@user.name, "/users/#{@user.id}") %>
       </div>
     </div>



    
      <div class="post-right">
        <div class="post-content">
          <%= @post.content %>
        </div>
        <div class="post-created_at">
          <%= @post.created_at %>
        </div>
      </div>
      <div class="clear"></div>

      <% if @post.user_id == @current_user.id %>
        <div class="post-menus">
          <%= link_to("/posts/#{@post.id}/edit") do %>
            <span class="far fa-edit"></span>
          <% end%>
          <%= link_to("/posts/#{@post.id}/destroy", {method: "post"}) do%>
            <span class="fas fa-trash-alt"></span>
          <% end%>
        </div>
      <% end %>
  </div>
      
   





 </div>
</div>