<div class="container">
<div class="posts">
<div class="post">

<div class="post-user">
  <% if @post.user.image.attached? %>
    <div class="icon">
     <%= link_to profile_path(@post.user_id) do%>
     <%= image_tag @post.user.image %>
     <% end %>
    </div>
   <% else %>
   <div class="icon">
   <%= link_to profile_path(@post.user_id) do%>
   <%= image_tag "nouser.jpg"%>
   <% end %>
  </div>
  <% end %>

  <div class="post-user-name">
  <%= link_to profile_path(@post.user_id) do%>
   <h3><%= @post.user.name %></h3>
  </div>
  <% end %>
</div>



 <% if @post.images.attached? %>
   <div class="post-image">
     <% @post.images.each do |image| %>
      <%= image_tag image%>
     <% end %>
   </div>
 <%end%>
 


<div class ="post-below">

  <div class="post-time">
    <p><%= @post.created_at %></p>
  </div>

  <div class="post-text">
    <p><%= @post.content %></p>
  </div>

      <div class="comments">
        <h4>Buddies' Comments</h4>
        <% @comments.each do |c| %>
          <div class="comment">
            <div class="icon">
              <%= link_to profile_path(c.user_id) do%>
              <%= image_tag c.user.profile.image %>
              <% end %>
            </div>
            <p><%= c.content %></p>
           
          </div>
        <% end %>
     </div>

    <div class="comments-form">
      <%= form_for [@post, @comment] do |f| %>
        
         <h4>Leave your comments</h4><br>
         <%= f.text_area :content, class: "comment-text" %>
       
        <%= f.hidden_field :post_id, value: @post.id %> 
        <br>
        <%= f.submit 'Submit', class: "btn comment-submit " %>
      <% end %>
    </div>

</div>













</div> 
</div>
</div>